
@import 'bulma/sass/utilities/initial-variables.sass';

$gap: 27px;
$desktop: 1024px;
$widescreen: 1366px;
$fullhd: 1920px;
$column-gap: 18px;

// @media

// your customization as described in the Bulma docs

@import 'bulma/bulma.sass';

.mt-3 {
  margin-top: 3rem !important;
}